<form [formGroup]="form" (ngSubmit)="submit()" class="col-xs-4">
  <div *ngIf="error" class="alert alert-danger alert-dismissible fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{error}}
  </div>
  <p class="text-left">Login </p>
  <div class="form-group">
    <input type="text" matInput placeholder="Username" formControlName="username" class="form-control">
  </div>
  <div class="form-group">
    <input type="password" matInput placeholder="Password" formControlName="password" class="form-control">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>