<div class="modal-header">
    <h2 class="modal-title text-center">{{title}}
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </h2>
</div>
<div class="modal-body">
    <div class="card hovercard">
        <div class="info">
            <div class="title">
                Name: <span>{{peopleList?.name}}</span></div>
            <div>skin_color: <span>{{peopleList?.skin_color}}</span></div>
            <div>Gender: <span>{{peopleList?.gender}}</span></div>
            <div>Created: <span>{{peopleList?.created | date: 'medium'}}</span></div>
            <div>Edited: <span>{{peopleList?.edited | date: 'medium'}}</span></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="previousData()">Previous</button>
    <button type="button" class="btn btn-default" (click)="nextData()">Next</button>
</div>